body{
    background-color: rgb(117, 114, 114);
}

#encabezado{
    width:70vw;      /*ancho de pantalla */
    margin: auto;    /*despega hacia afuera*/
    padding:2em;     /*despega hacia adentro*/
    display: flex;   /*acomoda los elementos*/
    flex-direction: column;  /*acomoda en columna*/
    align-items: center;     /* Centra verticalmente */
    justify-content:center;  /* Centra horizontalmente */
}

#tituloPpal {
    font-size:3em; /*em va pegado al numero*/
}

.titulos{
    font-size:1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    margin-top: 15px; /* Espacio encima del párrafo */
}

.contenedor{
    background-color: rgb(184, 123, 123);
    border-radius: 10px;
    width: 70vw;
    margin: 20px auto;/* 20px de separación vertical, centrado horizontal */
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_tarjetas{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 20px;/* Añadir espacio entre tarjetas */
    margin-top: 20px; /* Espacio encima de las tarjetas */
}

.tarjeta {
    background-color: rgb(172, 88, 88);
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.tarjeta:hover{
    transform: scale(1.1);
}

.logo {
    margin-top: 20px;
    width: 300 px;  /*ANCHO *//*px va separado del numero*/
    height: 300 px;  /*ALTO *//*px va separado del numero*/
}

input{
    background-color: bisque;
    width: 50vw;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

button{
    background-color: blueviolet;
    color: antiquewhite;
    border: 1px solid black;
    border-radius:5px ;
    margin: auto;
    margin-top: 15px;
    padding: 1em;
    transition: 0.3s;
}
button:hover{
    transform: scale(1.1);
}

#contenedorDom {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 20px;/* Añadir espacio entre tarjetas */
    margin-top: 20px; /* Espacio encima de las tarjetas */
   
}